@model IEnumerable<MileStone_Attendance_Management.Models.SectionsAssigned>

@{
    ViewData["Title"] = " Sections Assigned";
}

<div class="float-parent-element">
    <div class="float-child-element1">
        <div class="red"> <h1>Sections Assigned</h1></div>
    </div>
    <div class="float-child-element2">
        <div class="yellow">
            <p align="right">
                <a asp-action="Index" class="btn btn-primary">&#8634;</a>
                <a asp-action="Create" class="btn btn-success">+ Create New</a>
                <button asp-action="DeleteAll" class="btn btn-danger" onclick='myDeleteAll("/AttenderSectionsAssigned/DeleteAll","Sections Assigned")'>Delete All</button>
            </p>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courses.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courses.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">Details</a> |
                    <button asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick='myDeleteSectionsAssigned("/AttenderSectionsAssigned/Delete/@item.Id","@item.Employees.Email-@item.Courses.CourseName-@item.CourseId")'>Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .float-parent-element {
        width: 100%;
    }

    .float-child-element1 {
        float: left;
        width: 50%;
    }

    .float-child-element2 {
        float: right;
        width: 50%;
        padding: 15px 0px;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}