@model MileStone_Attendance_Management.Models.Students

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input asp-for="RollNumber" class="form-control" placeholder="Roll Number" />
                <span asp-validation-for="RollNumber" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <select name="Section" id="Section" class="form-control" required>
                    <option value="" selected disabled hidden>Select Section</option>
                    @foreach(var item in ViewBag.Sections)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div><br />
            <div class="form-group">
                <select  name="NormalizedDegree" id="NormalizedDegree" class="form-control" required>
                    <option value="" selected disabled hidden>Select Degree</option>
                    @foreach (var item in ViewBag.NormalizedDegree)
                    {
                        <option value="@item">@item</option>
                    }

                </select>
            </div><br />
            <div class="form-group" id="NormalizedBranchDiv">
                <select  name="NormalizedBranch" id="NormalizedBranch" class="form-control" required>
                    <option value="" selected disabled hidden>Select Branch</option>
                </select>
                <br />
            </div>
            <div class="form-group" id="BatchDiv">
                <select name="Batch" id="Batch" class="form-control" required>
                    <option value="" selected disabled hidden>Select Batch</option>
                </select>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#NormalizedBranchDiv").hide();
            $("#BatchDiv").hide();
            $('#NormalizedDegree').change(function () {
                var selectedValue = $(this).val();
                var NormalizedBranch = $('#NormalizedBranch');
                $("#NormalizedBranchDiv").show();
                NormalizedBranch.empty();
                NormalizedBranch.append($('<option>', {
                    value: '',
                    text: 'Select Branch',
                    selected: true,
                    disabled: true,
                    hidden: true
                }));
                $.each(@Html.Raw(Json.Serialize(ViewBag.BranchesList)), function (key, value) {
                    if (key === selectedValue) {
                        $.each(value, function (index, branch) {
                            NormalizedBranch.append($('<option>', {
                                value: branch,
                                text: branch
                            }));
                        });
                    }
                });
            });
            $('#NormalizedBranch').change(function () {
                var selectedValue = $('#NormalizedDegree').val()+$(this).val() ;
                var Batch = $('#Batch');
                $("#BatchDiv").show();
                Batch.empty();
                Batch.append($('<option>', {
                    value: '',
                    text: 'Select Batch',
                    selected: true,
                    disabled: true,
                    hidden: true
                }));
                $.each(@Html.Raw(Json.Serialize(ViewBag.BatchList)), function (key, value) {
                    if (key === selectedValue) {
                        $.each(value, function (index, batch) {
                            Batch.append($('<option>', {
                                value: batch,
                                text: batch
                            }));
                        });
                    }
                });
            });
        });
    </script>
}
