@model MileStone_Attendance_Management.Models.Students

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Batch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Batch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RollNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degrees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degrees.NormalizedDegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedBranch)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Email" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
