@model MileStone_Attendance_Management.Models.CoursesAssigned

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoursesAssigned</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.CourseId)
        </dd>    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.CourseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.CourseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degrees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degrees.NormalizedDegree)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
