@model MileStone_Attendance_Management.Models.Branches

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Branches</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedDegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedDegree)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
